
poitagger/__pycache__/imgproc2.cpython-36.pyc
poitagger/__pycache__/info.cpython-36.pyc
poitagger/__pycache__/meta.cpython-36.pyc
poitagger/__pycache__/nested.cpython-36.pyc
poitagger/__pycache__/pois.cpython-36.pyc
poitagger/__pycache__/save_as.cpython-36.pyc
poitagger/__pycache__/temp.cpython-36.pyc
poitagger/__pycache__/treemodel.cpython-36.pyc
*.pyc
dist3-64bit/poitagger.exe
dist3-64bit/python3-minimal/_asyncio.pyd
dist3-64bit/python3-minimal/_bz2.pyd
dist3-64bit/python3-minimal/_ctypes.pyd
*.pyd
build/bdist_launcher.3.64/launcher.exe
build/lib/poitagger/__init__.py
build/lib/poitagger/__main__.py
build/lib/poitagger/bla.js
build/lib/poitagger/calib.py
build/lib/poitagger/calibsettings/3510.ini
build/lib/poitagger/calibsettings/3510_2015.ini
build/lib/poitagger/calibsettings/3510_2016.ini
build/lib/poitagger/calibview.py
build/lib/poitagger/camera2.py
build/lib/poitagger/conf.ini
build/lib/poitagger/flightmeta.py
build/lib/poitagger/geoview.py
build/lib/poitagger/gpstime.py
build/lib/poitagger/gpx.py
build/lib/poitagger/image.py
build/lib/poitagger/imageview.py
build/lib/poitagger/info.py
build/lib/poitagger/map_gl.html
build/lib/poitagger/mapbox-gl.css
build/lib/poitagger/mapbox-gl.js
build/lib/poitagger/meta.py
build/lib/poitagger/nested.py
build/lib/poitagger/pois.py
build/lib/poitagger/properties/__init__.py
build/lib/poitagger/properties/geoview_conf.py
build/lib/poitagger/properties/geoview_conf.ui
build/lib/poitagger/properties/gps_conf.py
build/lib/poitagger/properties/gps_conf.ui
build/lib/poitagger/properties/image_conf.py
build/lib/poitagger/properties/image_conf.ui
build/lib/poitagger/properties/pois_conf.py
build/lib/poitagger/properties/pois_conf.ui
build/lib/poitagger/properties/properties.ui
build/lib/poitagger/rotation/__init__.py
build/lib/poitagger/rotation/axisangle.py
build/lib/poitagger/rotation/euler.py
build/lib/poitagger/rotation/quaternions.py
build/lib/poitagger/rotation/tests.py
build/lib/poitagger/save_as.py
build/lib/poitagger/temp.py
build/lib/poitagger/treemodel.py
build/lib/poitagger/treeview.py
build/lib/poitagger/ui/calib2.ui
build/lib/poitagger/ui/dem.ui
build/lib/poitagger/ui/detection.ui
build/lib/poitagger/ui/flightmain.ui
build/lib/poitagger/ui/geomain.ui
build/lib/poitagger/ui/icons/100proz.png
build/lib/poitagger/ui/icons/allepois.png
build/lib/poitagger/ui/icons/arrow_lr.png
build/lib/poitagger/ui/icons/arrow_lr1.png
build/lib/poitagger/ui/icons/arrow_lr2.png
build/lib/poitagger/ui/icons/arrow_ud.png
build/lib/poitagger/ui/icons/arrow_ud1.png
build/lib/poitagger/ui/icons/arrow_ud2.png
build/lib/poitagger/ui/icons/bottom.png
build/lib/poitagger/ui/icons/bottom10.png
build/lib/poitagger/ui/icons/camera.png
build/lib/poitagger/ui/icons/delete_.png
build/lib/poitagger/ui/icons/drone-512.png
build/lib/poitagger/ui/icons/edit-text-file.png
build/lib/poitagger/ui/icons/fahne.png
build/lib/poitagger/ui/icons/fahne_del.png
build/lib/poitagger/ui/icons/fahne_neu.png
build/lib/poitagger/ui/icons/failed.png
build/lib/poitagger/ui/icons/file-empty.png
build/lib/poitagger/ui/icons/file-poi.png
build/lib/poitagger/ui/icons/folder!.png
build/lib/poitagger/ui/icons/folder_ok.png
build/lib/poitagger/ui/icons/geomcalib.png
build/lib/poitagger/ui/icons/handheld-gps-device.jpg
build/lib/poitagger/ui/icons/import32_.png
build/lib/poitagger/ui/icons/maximize-512.png
build/lib/poitagger/ui/icons/micro_sd-512.png
build/lib/poitagger/ui/icons/myposition.png
build/lib/poitagger/ui/icons/okay.png
build/lib/poitagger/ui/icons/path2.png
build/lib/poitagger/ui/icons/path3019.png
build/lib/poitagger/ui/icons/path3102.png
build/lib/poitagger/ui/icons/pencil3.png
build/lib/poitagger/ui/icons/poi2.png
build/lib/poitagger/ui/icons/poitagger.png
build/lib/poitagger/ui/icons/Preview-icon.png
build/lib/poitagger/ui/icons/Printer-icon.png
build/lib/poitagger/ui/icons/reload.png
build/lib/poitagger/ui/icons/save.png
build/lib/poitagger/ui/icons/temp.png
build/lib/poitagger/ui/icons/text-file.jpg
build/lib/poitagger/ui/icons/up.png
build/lib/poitagger/ui/icons/up10.png
build/lib/poitagger/ui/icons/upload.png
build/lib/poitagger/ui/icons/winkel.png
build/lib/poitagger/ui/icons/world_marker.jpg
build/lib/poitagger/ui/imgDebug.ui
build/lib/poitagger/ui/imgInfo.ui
build/lib/poitagger/ui/info.ui
build/lib/poitagger/ui/normkitz.ui
build/lib/poitagger/ui/pois.ui
build/lib/poitagger/ui/poitagger.ui
build/lib/poitagger/ui/properties.ui
build/lib/poitagger/ui/rootpath.ui
build/lib/poitagger/ui/save_as.ui
build/lib/poitagger/ui/temp.ui
build/lib/poitagger/ui/treemain.ui
build/lib/poitagger/ui/upload.ui
build/lib/poitagger/ui/view-buttons.ui
build/lib/poitagger/ui/viewcontrol.ui
build/lib/poitagger/ui/workflow.ui
build/lib/poitagger/upload.py
build/lib/poitagger/utils2.py
build/lib/poitagger/workflow.py
dist/poitagger-0.2-py3-none-any.whl
poitagger.spec
poitagger/poitagger.egg-info/dependency_links.txt
poitagger/poitagger.egg-info/entry_points.txt
poitagger/poitagger.egg-info/PKG-INFO
poitagger/poitagger.egg-info/requires.txt
poitagger/poitagger.egg-info/SOURCES.txt
poitagger/poitagger.egg-info/top_level.txt
poitagger/poitagger.egg-info/zip-safe
poitagger.egg-info/top_level.txt
poitagger.egg-info/SOURCES.txt
poitagger.egg-info/requires.txt
poitagger.egg-info/PKG-INFO
poitagger.egg-info/not-zip-safe
poitagger.egg-info/entry_points.txt
poitagger.egg-info/dependency_links.txt
wheelhouse/beautifulsoup4-4.6.3-py3-none-any.whl
wheelhouse/bs4-0.0.1-py3-none-any.whl
wheelhouse/certifi-2018.11.29-py2.py3-none-any.whl
wheelhouse/chardet-3.0.4-py2.py3-none-any.whl
wheelhouse/docopt-0.6.2-py2.py3-none-any.whl
wheelhouse/ExifRead-2.1.2-cp36-none-any.whl
wheelhouse/idna-2.8-py2.py3-none-any.whl
wheelhouse/imagecodecs-2018.12.1-cp36-cp36m-win_amd64.whl
wheelhouse/lxml-4.2.5-cp36-cp36m-win_amd64.whl
wheelhouse/numpy-1.15.4-cp36-none-win_amd64.whl
wheelhouse/Pillow-5.3.0-cp36-cp36m-win_amd64.whl
wheelhouse/poitagger-0.1-py3-none-any.whl
wheelhouse/PyQt5-5.11.3-5.11.2-cp35.cp36.cp37.cp38-none-win_amd64.whl
wheelhouse/PyQt5_sip-4.19.13-cp36-none-win_amd64.whl
wheelhouse/pyqtgraph-0.10.0-cp36-none-any.whl
wheelhouse/python_dateutil-2.7.5-py2.py3-none-any.whl
wheelhouse/pytz-2018.7-py2.py3-none-any.whl
wheelhouse/pywin32-224-cp36-cp36m-win_amd64.whl
wheelhouse/PyYAML-3.13-cp36-cp36m-win_amd64.whl
wheelhouse/requests-2.21.0-py2.py3-none-any.whl
wheelhouse/requests_cache-0.4.13-py2.py3-none-any.whl
wheelhouse/simplejson-3.16.0-cp36-cp36m-win_amd64.whl
wheelhouse/six-1.12.0-py2.py3-none-any.whl
wheelhouse/tifffile-2018.11.28-py2.py3-none-any.whl
wheelhouse/urllib3-1.24.1-py2.py3-none-any.whl
wheelhouse/utm-0.4.2-cp36-none-any.whl
setup_cxfreeze.py
