
poitagger/__pycache__/imgproc2.cpython-36.pyc
poitagger/__pycache__/info.cpython-36.pyc
poitagger/__pycache__/meta.cpython-36.pyc
poitagger/__pycache__/nested.cpython-36.pyc
poitagger/__pycache__/pois.cpython-36.pyc
poitagger/__pycache__/save_as.cpython-36.pyc
poitagger/__pycache__/temp.cpython-36.pyc
poitagger/__pycache__/treemodel.cpython-36.pyc
*.pyc
dist3-64bit/poitagger.exe
dist3-64bit/python3-minimal/_asyncio.pyd
dist3-64bit/python3-minimal/_bz2.pyd
dist3-64bit/python3-minimal/_ctypes.pyd
