docopt
PyQt5>=5.6
numpy>=1.15
lxml>=4.2.5
https://github.com/pyqtgraph/pyqtgraph/archive/develop.zip
tifffile>=2018.11.28
utm>=0.4.2
pytz>=2018.7
bs4>=0.0.1
python-dateutil>=2.7.5
pyyaml>=3.13
requests>=2.0.0
requests_cache>=0.4.13
simplejson>=3.16.0
exifread>=2.1
Pillow>=5.3
camproject
#opencv-python>=3.4.4    
#scipy>=1.1.0
#scikit-image>=0.14
#(freetype -- plugin of skimage)
#gdal
